.Rproj.user
.Rhistory
.Rdata/
.httr-oauth
.DS_Store
/scratch
/all
.png
**.zip/
LARS_Proteins/output
LARS_Proteins/Data
Hillary_SLM/data
ARF_Simulation/scratch
ARF_Simulation/Workspaces_Saves/
ARF_Simulation/data/**
*.png
*.html
*.RData
*.zip
Hillary_SLM/Polaris_SOC_5_15
Hillary_SLM/Workspace_1_26_22
